@import "./utils/variables";

.about_container {
	display: flex;
	justify-content: center;
	background-color: #ffffff;
	width: 100%;
	height: auto;
}

.about {
	width: 70%;
	padding-top: 1vh;
	height: max-content;
	margin-bottom: $gutter-x;
	margin-top: $gutter-x;

	.text {
		line-height: 0;
	}
	h2 {
		font-size: $heading-size;
		color: #000000;
		margin-bottom: $heading-gutter;
		line-height: unset;
	}

	p {
		line-height: 0px;
		color: #000000;
	}
}

.na_stand {
	p {
		line-height: normal;
	}
}
