@import "./utils/variables";

.footer {
	// margin-top: 4rem;
	display: flex;
	background: $cream;
	height: 10vh;

	&__container {
		max-height: 16vh;
		display: flex;
		width: 80% !important;
		margin: auto;
		align-items: center;
		justify-content: space-between;
	}

	&__branding {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem 0;
		width: 20%;
		img {
			width: 45px !important;
			margin-right: 1em;
			height: auto;
		}
	}
	&__info {
		width: 80%;
		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			padding: 0;
		}
		li {
			list-style: none;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.links {
		color: #171718;
		font-size: $font-size;
	}
}

@media screen and (max-width: 900px) {
	.footer {
		display: flex;
		height: auto !important; /* Adjust max-height for phones */
		min-height: 26vh !important; /* Adjust height for phones */
		background: $cream;
		width: 100% !important;

		&__container,
		.container {
			display: flex;
			flex-direction: column; /* Stack content vertically */
			width: 100% !important;
			text-align: center;
			margin: 0 auto;
		}

		&__branding {
			display: flex;
			justify-content: center;
			img {
				width: 45px !important;
				height: auto;
				margin: 0;
			}
		}

		&__info {
			ul {
				display: flex;
				flex-direction: column; /* Stack content vertically */
				gap: 1vh;
				margin: 0;
			}

			li {
				margin: 0;
			}
		}
	}
}
