@import "./utils/variables";

.footer {
	// margin-top: 4rem;
	display: flex;
	background: $cream;
	max-height: 10vh;
	height: 16vh;

	&__container {
		max-height: 16vh;
		display: flex;
		width: 80% !important;
		margin: auto;
		align-items: center;
		justify-content: space-between;
	}

	&__branding {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding: 1rem 0;
		width: 20%;
		img {
			width: 45px !important;
			margin-right: 1em;
			height: auto;
		}
	}
	&__info {
		width: 80%;
		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 100%;
			padding: 0;
		}
		li {
			list-style: none;
			margin-right: 1em;
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.links {
		color: #171718;
		font-size: $font-size;
	}
}
