@import "./utils/variables";

.xmplfy_slogan {
	h2 {
		text-transform: uppercase;
		font-size: 80px;
		font-weight: 900;
		line-height: 70px;
	}
}

.welcome_container {
	width: 100%;
	height: max(90vh, auto);
	background: $blue-accent;
	padding-bottom: $gutter-x;
	.titlepage {
		width: 100%;
		justify-items: center;
		padding: 0;
		text-align: center;

		.welcome {
			width: 100%;
			display: flex;
			justify-content: center;
			gap: 10px;
			align-items: center;
			text-transform: uppercase;
			padding: 2vh 0vw 0vh 0vw;
			p {
				display: flex;
				text-align: left;
				font-weight: 800;
			}
			.newwordmark {
				width: 8vh;
			}
			img {
				width: 2vh;
				height: 100%;
			}
		}
	}
}

.gameCards {
	display: flex;
	gap: 2vw;
	justify-content: center;
	max-width: 90%;
	margin: auto;
	height: 100%;
	margin-bottom: 20vh;
	&__item {
		width: 22vw;
		height: 70vh;
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;
		color: #fff;
		box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
	}
	&__spacer {
		height: 40%;
	}
	&__content {
		height: 100%;
		width: 90%;
		margin: auto;
		display: flex;
		flex-direction: column;
		&:hover .gameCards__desc {
			opacity: 1;
		}
		&:hover .gameCards__title {
			transform: translateY(0vh);
		}
	}

	&__title {
		// inset: auto auto 30px 30px;
		height: 40%;
		margin: 0;
		// transition: inset 0.3s 0.3s ease-out;
		font-weight: 800;
		font-size: 20px;
		text-transform: uppercase;
		display: flex;
		align-items: flex-end;
		transform: translateY(30vh);
		transition: transform 0.3s ease-out;
	}

	&__desc {
		height: 50%;
		max-width: 80%;
		transition: opacity 0.8s ease-in-out;
		display: flex;
		text-align: left;
		inset: auto auto 80px 30px;
		font-size: 14px;
		opacity: 0;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	.button {
		display: flex;
		height: 10px;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		font-size: 18px;
		margin: auto;
	}

	.material-symbols-outlined {
		height: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.gameCards__cs2 {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.95)
		),
		url("../../assets/img/cs2.jpg");
	background-position: initial;
	background-repeat: no-repeat;
	background-size: auto auto;
	filter: grayscale(0.5);
}

.gameCards__creator {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.95)
		),
		url("../../assets/img/content.png");
	background-position: -0vw;
	background-repeat: no-repeat;
	background-size: auto 70vh;
	filter: grayscale(0.5);
}

.gameCards__rl {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.95)
		),
		url("../../assets/img/rocketleaguebacking.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70vh;
	filter: grayscale(0.5);
}

.gameCards__cod {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.95)
		),
		url("../../assets/img/cod-backing.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70vh;
	filter: grayscale(0.5);
}

.gameCards__fifa {
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0),
			rgba(0, 0, 0, 0.95)
		),
		url("../../assets/img/fifa.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 70vh;
	filter: grayscale(0.5);
}

.show {
	filter: grayscale(0);
}

.about_container {
	margin-top: -10vh;
	padding-top: 5vh;
}

@media screen and (max-width: 900px) {
	.gameCards {
		&__item {
			width: 90vw;
			height: 60vh;
		}
		&__title {
			font-size: 24px;
			transform: translateY(0);
		}
		&__desc {
			opacity: 1;
		}
	}
}

@media (max-width: 900px) {
	.welcome_container {
		padding: 0; /* Remove bottom padding for mobile */
	}

	.welcome_container .xmplfy_slogan h2 {
		font-size: 36px; /* Adjust font size for mobile */
		line-height: 1.2; /* Increase line height for readability on mobile */
	}

	.welcome_container .titlepage .welcome {
		flex-direction: column; /* Stack items vertically on mobile */
		align-items: center; /* Center items on mobile */
		padding: 2vh 0; /* Adjust top and bottom padding for mobile */
	}

	.welcome_container .titlepage .welcome p {
		text-align: center; /* Center-align text on mobile */
	}

	.welcome_container .gameCards {
		flex-direction: column; /* Stack cards in a single column on mobile */
		gap: 1rem; /* Add space between cards on mobile */
	}

	.welcome_container .gameCards .gameCards__item {
		margin-bottom: 1rem; /* Reduce space between cards on mobile */
	}
}
