.inquiries_container {
	background-color: #ffffff;
	min-height: calc(100vh - 16vh);
	display: flex;
	justify-content: center;
	color: #000000;
}

.inquiries {
	width: 80%;
	height: 100%;
	justify-content: center;

	.teamPage__body {
		display: flex;
		align-items: center;
		height: 10vh;
		margin: 2vh auto auto auto;
		color: #ffffff;
	}
}

.form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	.setting {
		max-width: 40%;
		display: flex;
		justify-content: space-between;
		justify-self: center;
		margin: auto;
	}
}

.subject {
	display: flex;
	flex-direction: column;
	max-width: 35%;
	width: 35%;
	height: 100%;
	margin-top: 5vh;

	/* Style for the subject dropdown */
	select[name="subject"] {
		width: 100%;
		padding: 12px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: #f8f8f8;
	}

	/* Style for the subject dropdown when it's focused */
	select[name="subject"]:focus {
		outline: none;
		border: 1px solid $blue-brand; /* Change to your desired focus color */
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your desired focus shadow */
	}

	/* Style for the subject dropdown arrow */
	select[name="subject"]::-ms-expand {
		display: none;
	}

	/* Style for the subject dropdown on hover */
	select[name="subject"]:hover {
		border: 1px solid #888; /* Change to your desired hover color */
	}
}

.email {
	display: flex;
	flex-direction: column;
	max-width: 60%;
	width: 60%;
	height: 100%;
	margin-top: 5vh;

	input {
		padding: 12px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		background-color: #f8f8f8;
	}

	input[type="email"]:focus {
		outline: none;
		border: 1px solid $blue-brand; /* Change to your desired focus color */
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your desired focus shadow */
	}

	input[type="email"]::placeholder {
		color: #888;
	}

	/* Style for the email input on hover */
	input[type="email"]:hover {
		border: 1px solid #888; /* Change to your desired hover color */
	}
}

.submitmsg {
	max-width: 40%;
	height: 100%;
	margin: 2vh auto auto auto;

	button[type="submit"] {
		background-color: $blue-brand; /* Change to your desired button background color */
		color: #fff; /* Change to your desired text color */
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		font-size: 16px;
		width: 20%;
	}

	/* Style for the submit button on hover */
	button[type="submit"]:hover {
		background-color: #0056b3; /* Change to your desired hover background color */
	}

	/* Style for the submit button when it's disabled */
	button[type="submit"]:disabled {
		background-color: #ccc;
		cursor: not-allowed;
	}

	/* Style for the submit button when it's focused */
	button[type="submit"]:focus {
		outline: none;
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your desired focus shadow */
	}
}

.message {
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 40%;
	width: 100%;
	height: 100%;
	margin: 2vh auto auto auto;

	textarea[name="message"] {
		resize: none;
		width: 100%;
		padding: 12px;
		margin: 8px 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 4px;
		font-size: 16px;
		height: 20vh;
		max-height: 25vh;
		background-color: #f8f8f8;
	}

	/* Style for the message textarea when it's focused */
	textarea[name="message"]:focus {
		outline: none;
		border: 1px solid $blue-brand; /* Change to your desired focus color */
		box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Change to your desired focus shadow */
	}

	/* Style for the message textarea placeholder text */
	textarea[name="message"]::placeholder {
		color: #888;
	}

	/* Style for the message textarea on hover */
	textarea[name="message"]:hover {
		border: 1px solid #888; /* Change to your desired hover color */
	}
}

.bolded {
	font-size: 24px;
	font-weight: 600;
}

.block {
	display: block;
}

@media screen and (max-width: 768px) {
	.inquiries_container {
		min-height: auto;
		padding: 20px; /* Add some padding for spacing */
	}

	.inquiries {
		width: 100%;
		flex-direction: column; /* Stack content vertically */
	}

	.teamPage__body {
		font-size: 14px;
	}

	.subject,
	.email,
	.message {
		width: 100%;
		max-width: 100%; /* Make inputs and textarea full width */
	}

	.submitmsg {
		max-width: 100%;
		text-align: center; /* Center the button */
	}

	.setting {
		max-width: 100% !important;
		width: 100%;
		display: flex;
		flex-direction: column;
		text-align: c;
	}

	/* You can add more specific styles for smaller screens here */
}
