@import "../components/utils/variables";

.teamPage {
	background-color: #fff;
	width: 100%;
	padding-bottom: $gutter-x;

	&__cover {
		width: 100%;
		min-height: 40vh;
		height: 40vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 12%;
	}
	&__body {
		flex-direction: row;
		background-color: #2a2a2a;
		margin: -80px auto 0 auto;
		border-radius: 12px;
		padding: 80px;
		background-repeat: no-repeat;
		background-size: 492px 339px;
		background-position: calc(100% - 80px) center;
		box-sizing: border-box;
		max-width: 80%;
		h2 {
			font-size: calc($heading-size * 2);
			color: $xmplfy-blue;
			padding: 0;
			margin: 0;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		&--team {
			display: flex;
			gap: 4rem;
			align-items: center;
			font-size: $font-size-lg;
		}
	}

	&__players {
		max-width: 80%;
		margin: auto;
		margin-top: calc($gutter-x * 3);

		&--cards {
			padding-top: $gutter-x;
			display: flex;
			flex-wrap: wrap;
		}
	}
}

.cs2 {
	.teamPage__cover {
		background-image: url("../../assets/img/cs2.jpg");
	}
}

.cod {
	.teamPage__cover {
		background-image: url("../../assets/img/cod-backing.jpeg");
	}

	.teamPage__content {
		.teamPage__content--team {
			display: flex;
			img {
				filter: brightness(0) invert(1);
				width: 5%;
				height: auto;
			}
		}
	}
}

.fifa {
	.teamPage__cover {
		background-image: url("../../assets/img/fifa.jpg");
	}

	.teamPage__body {
		.teamPage__content {
			.teamPage__content--team {
				display: flex;
				img {
					width: 10%;
					height: auto;
				}
			}
		}
	}
}

.rl {
	.teamPage__cover {
		background-image: url("../../assets//img/rocketleaguebacking.png");
	}

	.teamPage__body {
		.teamPage__content {
			.teamPage__content--team {
				display: flex;
				img {
					width: 10%;
					height: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.teamPage {
		&__body {
			align-items: center;
			display: flex;
			justify-content: center;
			width: 100%;
			padding: $gutter-x; /* Add padding to the body for spacing */
			border-radius: 6px; /* Remove border-radius */
			background-position: center; /* Center background image */
			text-align: center;
		}

		h2 {
			font-size: $heading-size; /* Adjust font size for phones */
		}

		&__content--team {
			display: flex;
			flex-direction: column; /* Stack content vertically */
			gap: 2rem; /* Reduce gap between elements */
		}
		&__players,
		.teamPage__players--cards {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: $gutter-x; /* Adjust top margin */

			.playerCard {
				margin-right: 0;
			}
		}
	}
}
