@import "./components/globals";
@import "./components/header";
@import "./components/headerinterface";
@import "./components/homepage";
@import "./components/footer";
@import "./components/brandguide";
@import "./components/about";
@import "./components/utils/variables";
@import "./components/teams";
@import "./components/playerCard";
@import "./components/privatepolicy";
@import "./components/partners";
@import "./components/terms";
@import "./components/inquiries";

html {
	background: #000;
	color: #fff;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}
